{{/* Feature Flags */}}
{{- $ephemeral := false -}}
{{- $headless := false -}}
{{- "" -}}


{{/* --- Determine if we're probably running on a VM or container --- */}}
{{- if eq .chezmoi.username "root" "ubuntu" "raspberry" -}}
{{-   $ephemeral = true -}}
{{-   $headless = true -}}
{{- end -}}

{{- if stdinIsATTY -}}
{{-   $headless = promptBoolOnce . "headless" "headless" -}}
{{-   $ephemeral = promptBoolOnce . "ephemeral" "ephemeral" -}}
{{- end -}}

encryption = "age"
[age]
  identity = "~/.chezmoi.age.key.txt"
  recipient = "age1s5zmy8kmn5nyrvvvv2ujlv3wjn6l7dnmyr0w0l87gnctavgd7g0sa5cpcr"

[data]
  ephemeral = {{ $ephemeral }}
  headless = {{ $headless }}
