#!/bin/sh

# Ensure package deps, including dev dependencies

##########
# Fedora #
{{ if eq .chezmoi.osRelease.id "fedora" }}
sudo dnf install -y util-linux-user zsh neovim npm podman-docker
npm install -g @bitwarden/cli

# TODO: NVIM dependencies (from ArchLinux, need correct package names)

echo "+++ Installing dependencies for Phoenix/Elixir..."
sudo dnf install -y inotify-tools

echo "+++ Installing dependencies for asdf-erlang..."
sudo dnf groupinstall -y 'Development Tools' 'C Development Tools and Libraries'
sudo dnf install -y autoconf ncurses-devel wxGTK3-devel wxBase3 openssl-devel


##########
# Debian #
{{ else if eq .chezmoi.osRelease.id "debian" }}
sudo apt install zsh npm
npm install -g @bitwarden/cli

# TODO: NVIM dependencies (from ArchLinux, need correct package names)

echo "+++ Installing dependencies for Phoenix/Elixir..."
sudo apt-get -y install inotify-tools

echo "+++ Dependencies for asdf-erlang..."
sudo apt-get -y install build-essential autoconf libncurses5-dev libwxgtk3.0-dev libgl1-mesa-dev libglu1-mesa-dev libpng-dev libssh-dev


#############
# Archlinux #
{{ else if eq .chezmoi.osRelease.id "arch" }}
sudo pacman -S --needed zsh npm
npm install -g @bitwarden/cli

#####
# NOTE: How should we assume Aura exists for installing AUR packages? Inform the user somehow?
#echo "+++ Install dependencies for nvim"
#sudo aura -A nerd-fonts-meta
sudo pacman -S --needed noto-fonts noto-fonts-emoji

echo "+++ Installing dependencies for Phoenix/Elixir..."
sudo pacman -S --needed inotify-tools

echo "+++ Installing dependencies for asdf-erlang..."
sudo pacman -S --needed base-devel
sudo pacman -S --needed ncurses glu mesa wxwidgets-gtk3 webkit2gtk libpng libssh

{{ end }}
